
<!-- <div> 
    <h2 class="text-center my-4">Products</h2>
    <h4 class="text-center my-4">Total Products: {{ totelOfProducts }}</h4>
    <h4 class="text-center my-4">the number of categories: {{ recevedCatFromOrder }}</h4>
    
</div> -->


<div class="container">
  <div class="row">   
    @for (product of products; track  $index  )  {
      @if (recevedCatFromOrder == 0 || product.category_id == recevedCatFromOrder) {
      <div class="col-md-4 mb-3">

      <!-- <div class="col-md-4 mb-3" *ngIf="selectedCategory == 0 || product.category_id == selectedCategory"> -->
        <div class="card h-100" appHighlightCard >
          <img [src]="product.imgUrl" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title" [ngClass]="{ 'text-danger': $even }">{{ product.name }}</h5>
            <h5 class="card-title" [ngStyle]="{ 'color': $odd ? 'red' : 'blue' }">{{ product.price }}</h5>
            <h5 class="card-title">{{ $even}}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
            <p class="card-text"><strong>Category ID:</strong> {{ product.category_id }}</p>
            <!-- detail button -->
            <!-- <a [routerLink]="['/details', product.id]" class="btn btn-primary">Details</a> -->
             <!-- detail button by click -->
            <a (click)="goToDetails(product.id)" class="btn btn-primary">Details</a>

            <button class="btn btn-success" (click)="addToCart(product)">Add to Cart</button>
            
          </div>
          
        </div>
      </div>
    }
  }
  
  @empty {
    <p>No products available in this category.</p>
  }
  <button class="btn btn-warning" (click)="updateProduct()">Update</button>
</div>
<!-- update button -->
</div>
<!-- <h2>Total Products: {{ totelOfProducts }} </h2> -->
<h2> the Square {{ num|squre:2 }}</h2>
<h2> the National ID: {{ nationalId | nationalId:"FullDate"}}</h2>