
<div class="footer">    
    <app-footer>
        <div class="footer-links">
            <a href="/about">About Us</a>
            <a href="/contact">Contact Us</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Service</a>
        </div>
    </app-footer>
    <div class="footer-content">
        <p>&copy; 2023 ECOMMERCEAPP. All rights reserved.</p>
        <ul class="social-links">
            <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
            <li><a href="https://www.twitter.com" target="_blank">Twitter</a></li>
            <li><a href="https://www.instagram.com" target="_blank">Instagram</a></li>
        </ul>
</div>